.carrito__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

    .carrito__libro {
        width: 100%;
    }

    .subtotal {
        text-align: end;
    }
}