.recomendacion {
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-color: $claro;
    max-width: 100rem;
}

@media (min-width: 800px) {
    .recomendacion {
        grid-template-columns: repeat(2, 1fr);
    }
}

.libro__recomendacion {
    grid-row: 1 / 2;
}

@media (min-width: 800px) {
    .libro__recomendacion {
        grid-column: 2 / 3;
    }
}

.recomendacion__titulo {
    font-size: 2.8rem;
    font-weight: bold;
    color: #DB2D3B;
}

.justify {
    text-align: justify;
}

.quote {
    width: 3%;
}

.quote__texto {
    font-size: 2.2rem;
    font-family: $fuenteSecundaria;
}

.generos__tabla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $claro;
    border-radius: 1rem;
    max-width: 90rem;
    margin: 1rem auto 4rem auto;
    border-radius: 1.5rem;
    box-shadow: $boxShadow;

    a {
        padding: 1rem;
        text-align: center;
    }
}