.footer {
    background-color: $oscuro;

    h4 {
        color: $claro;
    }

    a {
        color: $principal;
    }
}

.footer__logo {
    display: block;
}

.footer__redes {
    @include flexbox;
}

.footer__tarjetas {
    @include flexbox;
    gap: 1rem;
}