@media (max-width: 992px) {
    .novedades {
        flex-direction: column;
    }
}

.novedades {
    @include flexbox;
    gap: 3rem;

    .novedad__libro {
        max-width: 40rem;
    }

    .animacion {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .animacion:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .libro__descripcion {
        background-color: $claro;
    }

    .libro__generos {
        font-weight: bold;
        color: $principalOscuro;
    }
}

.novedad--grande {
    width: 60%;
    display: block;
    margin: auto;
}

@media (max-width: 770px) {
    .novedad--grande {
        display: none;
    }
}

.novedad--mini {
    width: 50%;
    display: block;
    margin: auto;
}

@media (min-width: 770px) {
    .novedad--mini {
        display: none;
    }
}