.carousel-item {
    transition: ease-in-out;
}

@media (max-width: 649px) {
    .carousel {
        display: none;
    }
}

.titulo__tienda {
    color: $principalOscuro;
    letter-spacing: .2rem;
}